.inner
  -# ナビゲーション
  .navigation
    = render 'commons/back_link'
    %h1.text-center= t('accounts.followings')
    %span

  -# フォロー中一覧
  .space-y-8.mt-10
    - if @followings.any?
      - @followings.each do |following|
        = render 'commons/user_list_item', user: following
    - else
      .text-center.py-10
        %p.text-brandGray= t('followings.index.no_followings')
