.inner
  -# ナビゲーション
  .navigation
    = render 'commons/back_link'
    %h1.text-center= t('accounts.followers')
    %span

  -# フォロワー一覧
  .space-y-8.mt-10
    - if @followers.any?
      - @followers.each do |follower|
        = render 'commons/user_list_item', user: follower
    - else
      .text-center.py-10
        %p.text-brandGray= t('followers.index.no_followers')
