.inner
  -# ナビゲーション
  .navigation
    = render 'commons/back_link'
    %h1.text-center= t('explores.show.title')
    %span

  -# ユーザー一覧
  .mt-8
    - if @users.any?
      - @users.each do |user|
        = render 'commons/user_list_item', user: user
    - else
      .text-center.py-10.text-gray-500
        %p= t('explores.show.no_users')
